/* CSS Media Query that centers the image if the device width is less than 1000px */
@media screen and (max-width: 1000px){
    .center-image{
        display: table;
        margin: 0 auto;
    }
}

.colorless-anchor{
    color: black;
}

body{
    background-color: white !important;
    padding: 0 !important;
}

.no-height-text{
    height: 40px !important;
}

.no-height-fa{
    height: 60px !important;
}
