<div class="container">
    <div class="panel panel-default bootcards-summary">
        <div class="panel-heading">
            <h3 class="panel-title">Email</h3>
        </div>
         <div class="panel-body">
            <div class="row">
                <div class="no-height-text bootcards-summary-item col-md-4 col-xs-12">
                    <h4>rakeshgk1396@gmail.com</h4>
                </div>
                <div class="no-height-text bootcards-summary-item col-md-4 col-xs-12">
                    <h4>rkaranth@eng.ucsd.edu</h4>
                </div>
                <div class="no-height-text bootcards-summary-item col-md-4 col-xs-12">
                    <h4>rakesh_karanth@outlook.com</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default bootcards-summary">
        <div class="panel-heading">
            <h3 class="panel-title">Professional</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="no-height-fa bootcards-summary-item col-md-4 col-xs-12">
                    <a class="colorless-anchor" target="_blank" href="https://www.linkedin.com/in/rgkaranth">
                        <i class="fa fa-3x fa-linkedin-square"></i>
                    </a>
                </div>
                <div class="no-height-fa bootcards-summary-item col-md-4 col-xs-12">
                    <a class="colorless-anchor" target="_blank" href="https://github.com/rakeshgk">
                        <i class="fa fa-3x fa-github"></i>
                    </a>
                </div>
                <div class="no-height-fa bootcards-summary-item col-md-4 col-xs-12">
                    <a class="colorless-anchor" target="_blank" href="http://stackoverflow.com/users/1380283/rgk">
                        <i class="fa fa-3x fa-stack-overflow"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default bootcards-summary">
        <div class="panel-heading">
            <h3 class="panel-title">Social</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="no-height-fa bootcards-summary-item col-md-4 col-xs-12">
                    <a class="colorless-anchor" target="_blank" href="https://www.facebook.com/rakesh.karanth">
                        <i class="fa fa-3x fa-facebook-official"></i>
                    </a>
                </div>
                <div class="no-height-fa bootcards-summary-item col-md-4 col-xs-12">
                    <a class="colorless-anchor" target="_blank" href="https://twitter.com/rakesh_gk">
                        <i class="fa fa-3x fa-twitter"></i>
                    </a>
                </div>
                <div class="no-height-fa bootcards-summary-item col-md-4 col-xs-12">
                    <a class="colorless-anchor" target="_blank" href="https://plus.google.com/+RakeshKaranth">
                        <i class="fa fa-3x fa-google-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
