<!-- Bootstrap compliant Navigation Bar -->
<nav class="navbar navbar-default">
    <!-- The navigation bar is housed under the fluid container. Best container class for navbars -->
    <div class="container-fluid">
        <!-- Code for the mobile version. Show a button that displays the navbar on clicking it -->
        <div class="navbar-header">
            <button type="button"
                    class="btn btn-default navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#main_navbar"
                    aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
        </div>
        <!-- Code for the desktop version show the entire navbar -->
        <div class="collapse navbar-collapse" id="main_navbar">
            <!-- Display the unordered vertical list in horizontal fashion -->
            <ul class="nav navbar-nav">
                <li> <a href="index.html">{{Home}}</a> </li>
                <li> <a href="education.html">{{Education}}</a> </li>
                <li> <a href="resume.html">{{Resume}}</a> </li>
                <li> <a href="contact.html">{{ContactMe}}</a> </li>
            </ul>
        </div>
    </div>
</nav>
